html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.place{
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  height: 60px;
  width: 60px;
}

.free{
  background-color: #4CAF50;
}

.booked{
  background-color: #DC143C;
}

.booking{
  visibility: hidden;
}

.ul-li-ticket{
  background-color: 	#ADD8E6;
  color: #666;
  margin: 10px;
  padding: 12px;
}
